/*Common classes*/
body {
	font-family: 'Roboto', sans-serif;
}

a {
	text-decoration:none;
	color:black;
}
h1{
	font-size:40px;
}

p{
	font-size:20px;
}
.container{
	width:1300px;
	margin:auto;
	padding:5px;
}
button{
	padding:5px;
	height:50px;
	width:180px;
	border-radius:5px;
}

/********************************************************************navar starts *********************************/
.navbar {
	display:flex;
	justify-content:space-between;
	padding:20px;
}

.navbarPadding{
	padding:10px;
}

.navbarlinks {
	padding-top:10px;
	display:flex;
	justify-content:space-evenly;
}

.links{
	padding:15px;
}
.links a{
	color:black;
	font-size:20px;
}
.btnWhatsnew{
	color:black;
	background-color:white;
	font-weight:bold;
	font-size:18px;
}
.btnWhatsnew:hover{
	background-color:lightgray;
}

.links a:hover{
	background-color:lightgray;
}
/********************************************************************navbar ends*********************************/

/********************************************************************section1 starts*********************************/
.section1{
	display:flex;
	padding:20px;
	height:620px;
}

.section1 h1{
	font-size:55px;
	font-weight:bold;	
}

.UltimatePortfolio{
	padding:10px;
}
.btn_startbuilding{
	font-size:18px;
	background-color:black;
	color:white;
	border:none;
}

table{
	text-align:left;
	font-size:20px;
	
}


/********************************************************************section1 ends*********************************/

/********************************************************************section2 starts*********************************/
.section2{
	display:flex;
	justify-content:space-between;
	height:600px;
	padding:20px;
}

.section2 a{
	color:black;
}

.section2 p{
	text-align:center;
	font-size:15px;
	letter-spacing:2px;
}

.section2 h2{
	text-align:center;
	height:45px;
	font-size:30px;
}

	.s2d1{
		background-color:#ffe979;
		padding:10px;
		width:350px;
	}
		
		.S2Buttons{
			position:absolute;
			padding:20px;
			margin-top:20px;
			margin-left:20px;
		}
		
		.s2link1{
			padding:5px;
			background-color:#ff9933;
			border-radius:5px;
		}
	
	.s2d2{
		background-color:#b7f898;	
		padding:20px;
		width:350px;
		}

					
		.s2link2{
			text-align:center;
			padding:5px;
			background-color:#66ff66;
			border-radius:5px;
		}
	
	.s2d3{
		background-color:#80ccff;
		padding:20px;
		width:350px;
	}
	
		
		.s2link3{
			text-align:center;
			padding:5px;
			background-color:#33cccc;
			border-radius:5px;
		}

/********************************************************************section2 ends********************/

/********************************************************************section 3 starts ******************/

.section3{     /***************COMMON CLASS FOR SEC3 AND SEC4*************/
		padding:15px;
}

.s3d1{         
	/*margin:auto;*/
	text-align:center;
}
	/*.s3d1 h1{		font-size:60px;	}*/
	
	.s3d1 p{
		font-size:25px;
	}
	
	.s3d1 i{
		font-size:70px;
		color:#00b33c;
		opacity:0.8;
	}

.s3d2{		/***************COMMON CLASS FOR SEC3 AND SEC4*************/
	display:flex;
	justify-content:space-evenly;	
}

	.s3d2d1{
		width:500px;	
	}
	
	.s3d2d1 ul{
		color:black;
		list-style-type:none;
	}
	
	.s3d2d1 li{
		padding:5px;
		border-radius:10px 5px;
		color:black;
		/*width:200px;*/
	}
	
	.s3d2d1 li:hover{
		background-color:#e6e6e6;
	}


.section3 a{
	
	opacity:0.7;
	border-radius:5px;
}	/*padding:2px;*/
	
	.s3d2d1 a{
		color:black;
	}
	
/********************************************************************section 3 Ends ******************/

/********************************************************************section 4 Starts ******************/
.section3{
	padding:25px;
}

.s4d {
	text-align:center;
	display:flex;
	justify-content:space-between;
}

.s4d h4{
	font-size:30px;
}

.s4d p{
	font-size:20px;
	color:#737373;
}

	


.discover_btn{
	text-align:center;
	font-size:20px;
	color:white;
	background-color:00b33c;
	padding:20px;
	margin:auto;
}

.discover_btn :hover{
	background-color:black;
}
/********************************************************************section 4 Ends ******************/
/********************************************************************section 5 Statts ******************/
.section5{
	padding:5px;
}

.sec5fourDivs{
	display:flex;
	text-align:center;
	padding:20px;
}
.sec5div2{
	display:flex;
	padding:18px;
}

.testimonail {
	background-image:url("images/testimonial.webp");
	height:540px;
	width:1200px;
	max-width:1300px;

}
.squarebirdParagraph{
	background-color:#ffdb4d;
	color:black;
	font-weight:400;
	padding:50px;
}

.sec5paragraph{
	font-size:27px;
	max-width:800px;
	text-align:justify;
	line-height:35px;
	
}

.squarebirdlogo {
	text-align:left;
	font-size:20px;
	padding: 10px;
}

.squarebird{
	padding:20px;
}
.sec5div2 a{
	padding-top:10px;
}

/********************************************************************section 5 Ends ******************/
/********************************************************************section 6 Starts ******************/

.FAQ{
	text-align:center;
	padding:20px;
}
.FAQ table{
	margin:auto;
	width:700px;
	padding:40px;
}
.FAQ td{
	border-bottom:solid 2px lightgray;
	padding:15px;	
}

/********************************************************************section 6 Ends ******************/
/********************************************************************footer Starts ******************/

.BuildsuccessfullMainDiv{
	display:flex;
	padding:40px;
}

footer{
	background-color:#b7f898;
}


.BuildSuccessfull{
	height:400px;
	width:1280px;
	text-align:left;
	/*padding-right:30px;*/
	padding:20px;	
}
.BuildSuccessfull h3{
	font-size:50px;
	margin:0px;
}

.BuildSuccessfull p{
	letter-spacing:2px;
}

.padding{
	padding:15px;
}
.createImage{
	/*text-align:right;*/
	height:auto;
	padding:45px;
	padding-left:30px;
}
/*
.buildDivContent {
	display:flex;
	padding:90px;
}

.BuildSuccessfull p{
	padding:10px;
}

}*/
/********************************************************************Footer Ends ******************/